# SQL Part 3 Studio

### Let's practice your SQL quering skills!  For each question, work along in the notebook adding your query and answering the questions. 

### **DataSet**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We will be using the Goodbooks-10k dataset from the exercises in the prep work.&nbsp; Feel free reference your previous notebooks.</span>

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### **Business Issue**

You are an employee at a small independet bookstore and you have been tasked to increase sales.  You decide to use the BooksDB to find books and themes to highlight in fun promotions throughout each month / season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of events/ promotions to run each month.  If you are looking for ideas to include in your promotions:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, Dr Seuss Day(3/2), National Pie Day3/14, St Patrick's Day (3/17), Season - Spring

### **Event 1:** Women's History Month

Goal: Highlight Popular Womans Authors based on ratings from the Good Reads DB.

### **Write a query that returns tag\_id, the number of times each tag\_id is used and the tag\_name.**  

### Use the GROUP BY and HAVING clause to narrow your focus.

Try multiple keywords, ie woman vs female (female ended up giving better results)

In [16]:
-- Solution
SELECT TOP 10 t.tag_name ,bt.tag_id, SUM(bt.count) AS num_tag
FROM BooksDB.dbo.book_tags AS bt 
INNER JOIN BooksDB.dbo.tags AS t 
ON bt.tag_id = t.tag_id
-- --WHERE tag_name LIKE '%female%'
GROUP BY t.tag_name,bt.tag_id
HAVING t.tag_name LIKE '%female%'
ORDER BY num_tag DESC;

tag_name,tag_id,num_tag
female-author,11643,17999
female-authors,11644,13690
female-protagonist,11658,2554
female-detective,11646,302
female-pov,11656,155
female-writers,11662,147
female,11642,133
female-lead,11652,61
strong-female-lead,28834,61
female-detectives,11647,59

### **Which keyword(s) and tag(s) would you like to explore more?**

Double click to edit.

### **Write a query to return authors, titles, ratings and** **selected tag(s)\_id.**

In [22]:
-- Solution
-- SELECT b.authors,b.title,b.ratings_count,t.tag_id
-- FROM BooksDB.dbo.books b
-- INNER JOIN BooksDB.dbo.ratings r  on b.book_id=r.book_id
-- INNER JOIN BooksDB.dbo.book_tags bt on b.best_book_id = bt.goodreads_book_id
-- INNER JOIN BooksDB.dbo.tags t on bt.tag_id=t.tag_id

-- SELECT TOP 5 b.title,b.authors,b.average_rating,bt.goodreads_book_id
-- FROM BooksDB.dbo.books AS b
-- INNER JOIN BooksDB.dbo.book_tags bt 
-- ON b.book_id=bt.goodreads_book_id
-- WHERE tag_id = 11643
-- ORDER BY tag_id , average_rating DESC ;

SELECT TOP 1 b.title,b.authors,b.average_rating,t.tag_id
FROM BooksDB.dbo.books AS b 
INNER JOIN BooksDB.dbo.tags AS t 
ON b.book_id = t.goodreads_book_id
WHERE tag_id = 19445
ORDER BY tag_id, average_rating DESC;

title,authors,average_rating,goodreads_book_id
"The Harry Potter Collection 1-4 (Harry Potter, #1-4)","J.K. Rowling, Mary GrandPré",4.66,99298
"Ouran High School Host Club, Vol. 15 (Ouran High School Host Club, #15)",Bisco Hatori,4.54,8163161
"Fool's Quest (The Fitz and The Fool, #2)",Robin Hobb,4.53,23157777
The New Jim Crow: Mass Incarceration in the Age of Colorblindness,Michelle Alexander,4.49,6792458
We Should All Be Feminists,Chimamanda Ngozi Adichie,4.47,22738563

### **Record your thoughts about why you wrote the query the way you did.**

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions.

Which month did you choose?  

What 2 events / promotions are you highlighting?

> 1.

> 2.

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in the BooksDB to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a HAVING clause.

In [ ]:
-- Event 1 Query

### **Summary of event 1:**

Double Click to edit.

In [ ]:
-- Event 2 Query

### **Summary of event 2:**

Double Click to edit.